#header4-1 H1 {
  color: #000000;
}
#header4-1 P {
  color: #000000;
}
#footer1-8 P {
  color: #9c9c9c;
}
#header4-1 H1 {
  color: #000000;
}
#header4-1 P {
  color: #000000;
}
#menu-5 .mbr-brand__name {
  font-size: 16px;
}
#menu-5.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#footer1-8 P {
  color: #9c9c9c;
}
#features1-23 P {
  color: #000000;
}
#menu-5 .mbr-brand__name {
  font-size: 16px;
}
#menu-5.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#footer1-8 P {
  color: #9c9c9c;
}
#features1-16 P {
  color: #000000;
}
#features1-24 P {
  color: #000000;
}
#features1-24 .mbr-section-title .mbr-header__text {
  font-size: 30px;
}
#features1-17 P {
  color: #000000;
}
#menu-5 .mbr-brand__name {
  font-size: 16px;
}
#menu-5.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#footer1-8 P {
  color: #9c9c9c;
}
#features1-21 .mbr-section-title .mbr-header__text {
  font-size: 30px;
}
#features1-21 P {
  color: #000000;
}
#features1-22 .mbr-section-title .mbr-header__text {
  font-size: 30px;
}
#features1-22 P {
  color: #000000;
}
#features1-18 P {
  color: #000000;
}
#features1-18 .mbr-section-title .mbr-header__text {
  font-size: 30px;
}
#content5-23 .mbr-header .mbr-header__text {
  text-align: left;
  color: #000000;
  font-size: 20px;
}
#content5-23 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-23 .mbr-article {
  color: #fff;
}
#content5-23 .mbr-article P {
  color: #000000;
  font-size: 15px;
}
#header3-19 H3 {
  text-align: center;
}
#footer1-8 P {
  color: #9c9c9c;
}
#menu-5 .mbr-brand__name {
  font-size: 16px;
}
#menu-5.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#content5-18 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-18 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-18 .mbr-article {
  color: #fff;
}
#content5-18 .mbr-article P {
  color: #000000;
}
#footer1-8 P {
  color: #9c9c9c;
}
#ext_menu-23 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-23.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-23 .mbr-navbar__section {
  background: #ffffff;
}
